.day {
  background-color: white;
  color: black;
}

.night {
  background-color: black;
  color: white;
}

.button_day {
  background-color: blue;
  color: white;
}

.button_night {
  background-color: orange;
  color: black;
}
